/.idea
/openjob-common/.idea
/openjob-common/target
/openjob-parent-api/.idea
/openjob-parent-api/target
/openjob-parent-api/openjob-admin-api/.idea
/openjob-parent-api/openjob-admin-api/target
/openjob-parent-api/openjob-web-api/.idea
/openjob-parent-api/openjob-web-api/target